@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');

body{
    background-color: #ECDFEF;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.background img{
    margin-left: 800px;
}

