@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-color: #ECDFEF;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#title h1{
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    color: #350B48;
    position: absolute;
    margin-left: 480px;
    margin-top: 150px;
}

#background img{
    margin-left: 150px;
}



