@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-image: url(/images/background.png);
    background-size: 1500px;
    background-color: #ECDFEF;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0, 0, 0, 0;
}

#title h1{
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    color: #350B48;
    position: absolute;
    margin-left: 33%;
    margin-top: 50px;
}




